.header {
  position: fixed;
  backdrop-filter: blur(100px);
  z-index: 999;
  width: 100%;
  padding-top: 24px;

  @media (max-width: $mb) {
    height: 50px;
    top: 0;
    left: 0;
    padding-top: 0;

    &.open {
      height: 100%;
    }
  }

  @media (max-width: $sp) {
    background-color: #fff;
    box-shadow: 0px 2px 6px 0px rgba(20, 20, 21, 0.141);

    &.open {
      .nav {
        &__popper {
          left: 0;
        }

        &__list {
          display: block;
        }

        &__item {
          &+.nav__item {
            margin-top: 16px;
          }
        }

        &__search {
          display: flex;
          max-width: none;
          padding: 12px;
          margin-top: 24px;
        }

        &__heading {
          display: flex;
          align-items: center;
          padding: 8px 0 12px;

          .logo {
            &__img {
              background: url(../images/logo_mo.png) center no-repeat;
              background-size: cover;
            }
          }
        }

        &>.nav__menu {
          display: none;
        }

        .logo__text {
          color: $white;
        }

        &__link {
          display: flex;
          gap: 12px;
          padding: 8px 0;
          color: #fff;
          font-size: 20px;
          line-height: 28px;
          font-weight: 500;

          &.active {
            background: none;

            &:before {
              content: "";
              display: inline-block;
              width: 24px;
              height: 24px;
              background: url(../images/icon_star.svg);
            }
          }
        }
      }
    }
  }

  .content {
    display: flex;
    align-items: flex-start;

    @media (max-width: $sp) {
      align-items: center;
      padding: 8px 0 12px;
    }
  }

  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 24px;
    background-color: $primary_01;
    background-image: url("../images/bg_logo.svg");
    background-position: center;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    position: absolute;

    @media (max-width: $sp) {
      flex-direction: row;
      flex: 1;
      background: none;
      padding: 0;
    }

    @media (max-width: $mb) {
      position: unset;
    }

    &__img {
      width: 40px;
      height: 40px;
    }

    &__text {
      margin-top: 12px;
      font-size: 16px;
      font-weight: bold;
      color: $white;

      @media (max-width: $sp) {
        margin-top: 0;
        margin-left: 8px;
        color: $text;
      }
    }
  }

  .nav {
    flex: 1;
    padding: 20px 20px 20px 48px;
    background: $tertiary;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;

    @media (max-width: $sp) {
      background: none;
      flex: 0;
      padding: 0;
    }

    &__list {
      display: flex;

      @media (max-width: $sp) {
        display: none;
        overflow: auto;
        margin-top: 12px;
        margin-right: -12px;
        padding-bottom: 24px;
        padding-right: 12px;
      }
    }

    &__link {
      display: block;
      padding: 8px 16px;
      font-weight: bold;
      border-radius: 8px;
      color: $secondary;
      transition: 0.25s;

      &.active {
        color: $white;
        background-color: $secondary;
        background-image: url("../images/bg_logo.svg");
        background-position: center;
      }
    }

    &__search {
      display: flex;
      max-width: 180px;
      padding: 8px 12px;
      border-radius: 12px;
      background-color: #fff;
      align-items: center;
      gap: 8px;

      @media (max-width: $sp) {
        display: none;
      }

      &:before {
        content: "";
        display: inline-block;
        flex-shrink: 0;
        width: 24px;
        height: 24px;
        background: url(../images/icon_search.svg);
      }

      input {
        width: 100%;
        padding: 0;
        outline: 0;
        border: 0;
        font-size: 14px;
      }
    }

    &__menu {
      display: none;
      width: 24px;
      height: 24px;

      @media (max-width: $sp) {
        display: block;
      }
    }

    &__bar {
      position: relative;

      &:after {
        content: "";
        position: absolute;
        top: -8px;
        left: -8px;
        right: -8px;
        bottom: -8px;
      }
    }

    &__heading {
      display: none;
    }

    &__popper {
      display: flex;
      justify-content: flex-end;
      flex: 1;

      @media (max-width: $sp) {
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        flex-direction: column-reverse;
        background-color: $secondary;
        padding: 0 24px;
        justify-content: flex-end;
        background-image: url(../images/bg_popper.svg);
        z-index: 999;
        transition: 0.25s;
      }
    }
  }
}